#heading1 {
    font-weight: 100;
}

#heading2 {
    font-weight: 200;
}

#heading3 {
    font-weight: 300;
}

#heading4 {
    font-weight: 400;
}

#heading5 {
    font-weight: 500;
}

#heading6 {
    font-weight: 600;
}

#heading7 {
    font-weight: 700;
}

#heading8 {
    font-weight: 800;
}

#heading9 {
    font-weight: 900;
}