#Lexus {
    font-size: 30px;
    color: red;
}

#Mercedes {
    font-size: 35px;
    color: blue;
}

#Chervolet {
    font-size: 40px;
    color: yellow;
}

#Porsche {
    font-size: 45px;
    color: pink;
}

#Bentley {
    font-size: 50px;
    color: green;
}