#italy {
    font-size: 30px;
    color: red;
}

#germany {
    font-size: 35px;
    color: blue;
}

#france {
    font-size: 40px;
    color: yellow;
}

#spain {
    font-size: 45px;
    color: pink;
}

#uk {
    font-size: 50px;
    color: green;
}