#name1 {
    font-size: 50px;
    color: red;
}

#name2 {
    font-size: 55px;
    color: yellow;
}

#name3 {
    font-size: 60px;
    color: green;
}

#name4 {
    font-size: 65px;
    color: blue;
}

#name5 {
    font-size: 75px;
    color: purple;
}