button{
    background: red;
    color: green;
    transition: transform 0.5s, background-color 1s, color 1.5s, box-shadow 2s;
}

button:hover{
    transform: scale(1.2);
    background: blue;
    color: yellow;
    box-shadow: 0 0 20px black;
}