.parent {
    width: 600px;
    height: 600px;
    border: 3px solid red;
    display: flex;
    flex-direction: row; /* row ==> ალაგებს შვილებს X ღერძზე (გვერდიგვერდ) */
}

.child {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 3px solid yellow;
}

.parent2 {
    width: 600px;
    height: 600px;
    border: 3px solid red;
    display: flex;
    flex-direction: row-reverse; /* row-reverse ==> ალაგებს შვილებს X ღერძზე უკუღმა */
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 3px solid yellow;
}

.parent3 {
    width: 600px;
    height: 600px;
    border: 3px solid red;
    display: flex;
    flex-direction: column; /* column ==> ალაგებს შვილებს Y ღერძზე (ზემოდან ქვემოთ) */
}

.child3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 3px solid yellow;
}

.parent4 {
    width: 600px;
    height: 600px;
    border: 3px solid red;
    display: flex;
    flex-direction: column-reverse; /* column ==> ალაგებს შვილებს Y ღერძზე (ზემოდან ქვემოთ) უკუღმა */
}

.child4 {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 3px solid yellow;
}