* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000vh;
}

div {
    background-color: red;
    height: 100px;
    width: 300px;
    position: fixed;
    bottom: 100px;
    right: 50px;
}