.main-div {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 70px 70px;
    width: 700px;
    height: 500px;
    background-color: red;
    /* align-content: start; */
    /* align-content: center; */
    /* align-content: end; */

    /* align-content-ის ცვლილებისას მთელი გრიდი გადაადგილდება 
    ვერტიკალური მიმართულებით (Y ღერძზე: ზემოთ, ცენტრში ან ქვემოთ). */
}

.child-div {
    background-color: blue;
    color: yellow;
}

