.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
}

.top {
    top: 10px;
    left: 50%;
}

.right {
    right: 10px;
    top: 50%;
}

.bottom {
    bottom: 10px;
    left: 50%;
}

.left {
    left: 10px;
    top: 50%;
}