.card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 2px solid red;
}

img {
    grid-row: span 3;
    width: 50%;
}

button {
    width: 20%;
}

@media (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}