.main-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.child-div {
    border: 2px solid blue;
    padding: 20px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}